In [278]:
#Treating Missing values
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [279]:
X_full = pd.read_csv(r"D:\Housing price\train.csv")
X_test_full = pd.read_csv(r"D:\Housing price\test.csv")

In [280]:
X_full.shape

(1460, 81)

In [281]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

In [282]:
X_full.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [283]:
y = X_full.SalePrice

In [284]:
features = ['LotArea','LotFrontage', 'MSSubClass','OverallQual','OverallCond','BsmtFinSF1','BsmtUnfSF', 'TotalBsmtSF', 'GrLivArea', 'GarageArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = X_full[features].copy()
X_test = X_test_full[features].copy()

In [285]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [286]:
X_train.head()

,LotArea,LotFrontage,MSSubClass,OverallQual,OverallCond,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,GrLivArea,GarageArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
618,11694,90.0,20,9,5,48,1774,1822,1828,774,2007,1828,0,2,3,9
870,6600,60.0,20,5,5,0,894,894,894,308,1962,894,0,1,2,5
92,13360,80.0,30,5,7,713,163,876,964,432,1921,964,0,1,2,5
817,13265,NaN,20,8,5,1218,350,1568,1689,857,2002,1689,0,2,3,7
302,13704,118.0,20,7,5,0,1541,1541,1541,843,2001,1541,0,2,3,6

In [287]:
X_train.shape

(1168, 16)

In [288]:
#the 0 in the data is replaced by NAN to tryout which Missing value methords fits best

In [289]:
X_train.isnull().sum()

LotArea           0
LotFrontage     212
MSSubClass        0
OverallQual       0
OverallCond       0
BsmtFinSF1        0
BsmtUnfSF         0
TotalBsmtSF       0
GrLivArea         0
GarageArea        0
YearBuilt         0
1stFlrSF          0
2ndFlrSF          0
FullBath          0
BedroomAbvGr      0
TotRmsAbvGrd      0
dtype: int64

In [290]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def score_dataset (X_train, X_valid, y_trian, y_valid):
    model = RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [336]:
#Approach 1 to Drop the columns with Missing values
#Get names of column with missing values
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

In [337]:
print(cols_with_missing)

['LotFrontage']

In [292]:
#To drop to entire column if there are any null values in the column
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

In [293]:
reduced_X_train.shape

(1168, 15)

In [315]:
MAE1 = score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid)
print("MAE from Approach 1 reduce column: %d" % MAE1)

MAE from Approach 1 reduce column: 18130

In [295]:
#The MAE is reduced in Approach 1 due to the reduction in column we lost valuable data which compounded to higher accuracy

In [296]:
#Approach 2 to replace missing value with mean value.
from sklearn.impute import SimpleImputer

In [338]:
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))
#Imputation removed column names put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

In [298]:
imputed_X_train.head()

,LotArea,LotFrontage,MSSubClass,OverallQual,OverallCond,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,GrLivArea,GarageArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,11694.0,90.000000,20.0,9.0,5.0,48.0,1774.0,1822.0,1828.0,774.0,2007.0,1828.0,0.0,2.0,3.0,9.0
1,6600.0,60.000000,20.0,5.0,5.0,0.0,894.0,894.0,894.0,308.0,1962.0,894.0,0.0,1.0,2.0,5.0
2,13360.0,80.000000,30.0,5.0,7.0,713.0,163.0,876.0,964.0,432.0,1921.0,964.0,0.0,1.0,2.0,5.0
3,13265.0,69.614017,20.0,8.0,5.0,1218.0,350.0,1568.0,1689.0,857.0,2002.0,1689.0,0.0,2.0,3.0,7.0
4,13704.0,118.000000,20.0,7.0,5.0,0.0,1541.0,1541.0,1541.0,843.0,2001.0,1541.0,0.0,2.0,3.0,6.0

In [316]:
MAE2 = score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid)
print("MAE from Approach 2 Imputation:%d" % MAE2)

MAE from Approach 2 Imputation:18172

C:\Users\suyog\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [300]:
#Approach 3 Impute missing value while keeping track of values which were impute

In [301]:
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

In [302]:
#Make new columns indicating what will be imputed
for col in cols_with_missing:
    X_train_plus[col+'_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col+'_was_missing'] = X_valid_plus[col].isnull()

In [303]:
#Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.fit_transform(X_valid_plus))

In [304]:
imputed_X_train_plus.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,11694.0,90.000000,20.0,9.0,5.0,48.0,1774.0,1822.0,1828.0,774.0,2007.0,1828.0,0.0,2.0,3.0,9.0,0.0
1,6600.0,60.000000,20.0,5.0,5.0,0.0,894.0,894.0,894.0,308.0,1962.0,894.0,0.0,1.0,2.0,5.0,0.0
2,13360.0,80.000000,30.0,5.0,7.0,713.0,163.0,876.0,964.0,432.0,1921.0,964.0,0.0,1.0,2.0,5.0,0.0
3,13265.0,69.614017,20.0,8.0,5.0,1218.0,350.0,1568.0,1689.0,857.0,2002.0,1689.0,0.0,2.0,3.0,7.0,1.0
4,13704.0,118.000000,20.0,7.0,5.0,0.0,1541.0,1541.0,1541.0,843.0,2001.0,1541.0,0.0,2.0,3.0,6.0,0.0

In [305]:
#Imputation removed column names we put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

In [317]:
MAE3 = score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid)
print("MAE from Approach 3 Imputation Extention : %d" % MAE3)

MAE from Approach 3 Imputation Extention : 18156

In [319]:
#Approach 4 to drop the column with highest 0 values and imputation on rest.

In [322]:
Xtrain1 = X_train.replace(0, np.nan)
Xvalid1 = X_valid.replace(0, np.nan)

In [323]:
Xtrain1.isnull().sum()

LotArea           0
LotFrontage     212
MSSubClass        0
OverallQual       0
OverallCond       0
BsmtFinSF1      381
BsmtUnfSF        92
TotalBsmtSF      28
GrLivArea         0
GarageArea       58
YearBuilt         0
1stFlrSF          0
2ndFlrSF        658
FullBath          6
BedroomAbvGr      4
TotRmsAbvGrd      0
dtype: int64

In [331]:
#Drop the column with highest null values
X_train_drop = Xtrain1.drop('2ndFlrSF', axis=1)
X_valid_drop = Xvalid1.drop('2ndFlrSF', axis=1)

In [332]:
X_train_drop.head()

,LotArea,LotFrontage,MSSubClass,OverallQual,OverallCond,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,GrLivArea,GarageArea,YearBuilt,1stFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
618,11694,90.0,20,9,5,48.0,1774.0,1822.0,1828,774.0,2007,1828,2.0,3.0,9
870,6600,60.0,20,5,5,NaN,894.0,894.0,894,308.0,1962,894,1.0,2.0,5
92,13360,80.0,30,5,7,713.0,163.0,876.0,964,432.0,1921,964,1.0,2.0,5
817,13265,NaN,20,8,5,1218.0,350.0,1568.0,1689,857.0,2002,1689,2.0,3.0,7
302,13704,118.0,20,7,5,NaN,1541.0,1541.0,1541,843.0,2001,1541,2.0,3.0,6

In [333]:
my_2imputer = SimpleImputer()
imputed_X_train_drop = pd.DataFrame(my_2imputer.fit_transform(X_train_drop))
imputed_X_valid_drop = pd.DataFrame(my_2imputer.transform(X_valid_drop))

In [334]:
imputed_X_train_drop.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,11694.0,90.000000,20.0,9.0,5.0,48.000000,1774.0,1822.0,1828.0,774.0,2007.0,1828.0,2.0,3.0,9.0
1,6600.0,60.000000,20.0,5.0,5.0,652.848793,894.0,894.0,894.0,308.0,1962.0,894.0,1.0,2.0,5.0
2,13360.0,80.000000,30.0,5.0,7.0,713.000000,163.0,876.0,964.0,432.0,1921.0,964.0,1.0,2.0,5.0
3,13265.0,69.614017,20.0,8.0,5.0,1218.000000,350.0,1568.0,1689.0,857.0,2002.0,1689.0,2.0,3.0,7.0
4,13704.0,118.000000,20.0,7.0,5.0,652.848793,1541.0,1541.0,1541.0,843.0,2001.0,1541.0,2.0,3.0,6.0

In [335]:
MAE4 = score_dataset(imputed_X_train_drop, imputed_X_valid_drop, y_train, y_valid)
print("MAE from Approach 4 drop column and impute:%d" % MAE4)

MAE from Approach 4 drop column and impute:18782

In [313]:
# therefore Approach 1 had the lowest MAE score